
{% extends 'base.html' %}
{% block content %}



    <div class="container">
        {% if user.is_authenticated %}

        <h3>{{user}}로 로그인중</h3>

        <div class="row layout-header">
            <div class="col-md-1">
                <form action="{% url 'members:logout' %}" method="POST">
                {% csrf_token %}
                    <button type="submit" class="btn btn-success">로그아웃</button>
                </form>
            </div>

            <div class="offset-md-8 col-md-1">
                <form action="{% url 'members:withdraw' %}" method="POST">
                {% csrf_token %}
                    <button type="submit" class="btn btn-danger" id="withdraw">회원탈퇴</button>
                </form>
            </div>
        </div>
        {% endif %}

            {% for post in post_list %}
            <div class="card col-sm-12">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            {% if post.author.img_profile %}
                            <img class="rounded-circle float-left" style="width:50px; height:50px;" src="{{ post.author.img_profile.url }}" alt="">

                            {% else %}
                            {% load static %}
                            <img class="rounded-circle float-left" style="width:50px; height:50px;" src="{% static 'images/blank_user.jpg' %}" alt="">
                            {% endif %}
                            <h3 class="card-title">작성자 : {{post.author.username}}</h3>
                            <h4 class="card-text float-left ml-10">등록일 : {{post.created_at}}</h4>
                            <form action="" method="POST">
                            {% csrf_token %}
                                <button type="submit" class="btn btn-outline-primary ml-10">+ follow</button>
                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div>
                                <a href="{% url 'posts:post-detail' post.id %}">
                                    <img class="rounded mx-auto d-block" src="{{post.photo.url}}" alt="">
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>

<script>

    (function () {


    }());

    function withdraw () {

            alert('회원탈퇴 완료');
        };

    var temp = document.getElementById('withdraw');

    temp.addEventListener('click', e => {
        withdraw();
    })

</script>

{% endblock %}